html, body {
  padding: 0;
  margin: 0;
  background: #D8D8D8;
}

.top {
  height: 200px;
  background: #fff;
  margin: 20px;
  width: 100vw - 20px;
  display: inline-block;
}

.topText {
  padding: 5px 25px 0 25px;
  font-family: 'Arial';
}

.btn {
  width: 100px;
  height: 40px;
  margin: 20px;
  line-height: 40px;
  text-align: center;
  font-family: 'Arial';
  color: #fff;
  font-size: 14pt;
  float: left;

}

.btn1 {
  background: #D0011B;
}

.btn2 {
 background: #4990E2;
}

.bottom {
  background: #fff;
  margin: 20px;
  width: 100vw - 20px;
  text-align: center;
}

.insrtdImg {
  padding-top: 30px;
}

.btmTxt {
  padding: 5px 35px;
  text-align: left;
  font-family: 'Arial';
}
